main > .container {
    padding: 70px 15px 20px;
}
body {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
    background-image: url('/img/back.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
a {
    color: black;
    font-weight: bold;
}
a:hover {
    color: black;
    font-weight: bold;
}
.back-transparent {
    background-color: transparent !important;
}
.footer {
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.breadcrumb {
     background-color:  transparent !important;
}

.breadcrumb > li > a {
    color:  black !important;
}

.btn-logout {
    border-color: white !important;
    padding: 0.5rem 1rem;
}

a.nav-link {
    margin-top: 0.1rem;
    margin-right: 1rem;
    font-weight: 400;
}

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: black;
    background-color: black;
}

.form-control:focus {
    border-color: black;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);;
}
.invalid-feedback {
    margin-top: 0px;
}
.block-upload-form {
    background-image: url('/img/form-back.png');
    color: white;
    min-height: 400px;
    padding-top: 5em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.fix-height {
    height: 100% !important;
}
.upload-form-fixsize {
    padding: 2em;
}
.list-header-block {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    color: #212529;
    font-weight: bold;
}
.list_item_block {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.bg-smooth-1 {
    background-color: rgba(255, 255, 255, 0.7);
}
.bg-smooth-2 {
    background-color: rgba(255, 255, 255, 0.5);
}
.list-control-panel > .pagination {
    display: flex;
    justify-content: space-evenly;
    min-width: 40%;
}
.list-control-panel {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
}